.about-page {
  .grid {
    border-bottom: 2px dashed #7b1146;
    padding-bottom: 1em;
    .icon {
      width: 22%;
      margin-right: 5%;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 1em 0;
      }
      span {
        margin-left: 20%;
        color: #7b1146;
        @include media-query($on-palm) {
          display: inline-block;
          text-align: center;
          width: 100%;
          margin-left: 0;
        }
      }
      @include media-query($on-palm) {
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
    }
    .description {
      width: 70%;
      padding: 1em 0;
      @include media-query($on-palm) {
        width: 100%;
      }
      h3,
      h3 a {
        color: #7b1146;
      }
    }
  }
}

.portfolio-page {
  article {
    border-bottom: 2px dashed #117b7b;
    padding: 1em 0;
  }
  iframe {
    @include media-query($on-palm) {
      width: 100%;
    }
  }
  h3 {
    color: #117b7b;
  }
  h4 {
    color:#117b46;
  }
  img, iframe {
    margin: 1em 0;
  }
}

.presentation-page {
  div {
    border-bottom: 2px dashed #7b7b11;
    padding: 1em 0;
  }
  h3 {
    color: #7b7b11;
  }
  h4 {
    color:#117b46;
  }
  iframe {
    margin: 1em 0;
    @include media-query($on-palm) {
      width: 100%;
    }
  }
}

.publications-page {
  div {
    border: 2px solid #117b11;
    border-radius: 10px;
    margin-bottom: 2em;
  }
  img {
    border-bottom: 2px solid #117b11;
    border-radius: 10px 10px 0 0;
  }
  h3 a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #117b11;
    padding: 10px 20px;
  }
  h4 {
    color: #117b46;
    padding: 10px 20px;
  }
  p, p a {
    padding: 10px 20px;
  }
}
