.site-header {
  .site-nav {
    margin-top: 20px;
  }
}
.banner {
  padding: 1em;
	&.About {
		background-color: #ee82ee;
    color: white;
	}
  &.Portfolio {
    background-color: #3fd0f0;
    color: white;
  }
}