.home {
	.about-banner {
    background-color: $about-color;
    color: white;
    padding: 1em;
  }
  .portfolio-banner {
    background-color: $portfolio-color;
    color: white;
    padding: 1em;
  }
  .presentations-banner {
    background-color: $presentation-color;
    color: white;
    padding: 1em;
  }
  .publications-banner {
    background-color: $publication-color;
    color: white;
    padding: 1em;
  }
  h1 a {
    color: white;
  }
  .icon {
    width: 30%;
    margin-right: 3%;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 1em 0;
      &.transparent {
        background-color: white;
      }
    }
    @include media-query($on-palm) {
      width: 100%;
      margin-right: 0;
      text-align: center;
    }
  }
}
