.presentation-page {
  article {
    border-bottom: 2px dashed var(--color-scheme-presentation-text-color);
    padding: 1em 0;
  }
  h3 {
    color: var(--color-scheme-presentation-text-color);
  }
  h4 {
    color: var(--color-scheme-sub-title-text-color);
  }
  iframe {
    margin-bottom: 2rem;
    @include media-query($on-palm) {
      width: 100%;
    }
  }
}
