
.publications-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  &.wrapper {
    width: 90%;
    max-width: 1300px;
  }
  article {
    border: 2px solid $publication-color;
    border-radius: 10px;
    margin-bottom: 2em;
  }
  img {
    border-bottom: 2px solid $publication-color;
    border-radius: 10px 10px 0 0;
    height: 250px;
    width: 100%;
    object-fit:contain;
    background-color: lighten($publication-color, 60);
  }
  h3 {
    margin-bottom: 0;
  }
  h3 a {
    display: inline-block;
    cursor: pointer;
    color: $publication-color;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    &:focus, &:hover {
      text-decoration: underline;
    }
  }
  h4 {
    color: #117b46;
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 0;
  }
  p {
    padding: 10px 20px;
    margin-bottom: 0;
  }
}
