& {
  .giraffe-summary-box__header {
    background-color: $juicy-orange-300;
    @media print {
      background-color: $juicy-orange-300 !important;
    }
  }

  .giraffe-summary-box__content {
    background-color: $juicy-orange-100;
    @media print {
      background-color: rgba($juicy-orange-100, 0.3) !important;
    }
  }
}
