body {
	font-family: 'Quintessential', cursive;
	color: #CC9933;
	background: #330099;
}


h1 {
	font-size: 1.50em;
	letter-spacing: -1.5px;
	text-align: center;
}

h2{
	font-size: 1.250em;
	color: #99CCCC;
}


#harry img,
#jack img,
#arwen img {
	border: 8px solid #99CCCC;
	border-radius: 4px;
	width: 300px;
}


#copyright {
	border-top: 8px solid #99CCCC;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

@media screen and (max-width: 768px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width: 100%;
	margin: 0 4% 1% 0;
	float: left;
	display: block;
}
}

@media screen and (max-width: 380px) {

	#harry img,
	#jack img,
	#arwen img {
	width: 150px;
}

}
